:root {
  --primary-color: rgb(36, 53, 63);
  --secondary-color: rgb(23, 162, 184);
  --bg-primary: rgb(245, 245, 245);
  --bg-secondary: rgb(247, 247, 247);
  --hover-color: rgb(206, 226, 249);
  --white-color: white;

  --section-padding: 1rem;
}
body,
.login-card {
  background-color: var(--primary-color);
}
.navbar {
  background-color: rgba(0, 0, 0, 0.9);
}

.secondary-color {
  color: var(--secondary-color);
}
.form-control {
  background-color: transparent;
  color: white;
}
.form-control:focus {
  background-color: transparent;
  color: white;
  border-color: var(--secondary-color);
}
.btn-outline-secondary {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}
.btn-outline-secondary:hover,
.btn-outline-secondary:focus {
  background-color: var(--secondary-color);
  color: white;
  border-color: var(--secondary-color);
}
.shadow-lg {
  box-shadow: 0 0rem 3rem rgba(0, 0, 0, 0.5) !important;
}
